/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .header {
    width: 100%;
    padding: 15px 20px;
    background: #1e293b;
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  .link{
    color:white;
    text-decoration:none
  }
  
  
  /* Responsive */
  @media (max-width: 768px) {
    .header {
      font-size: 20px;
      padding: 10px 15px;
    }
  }
  